---
services:
  pihole:
    container_name: ${CONTAINER_NAME}
    environment:
      PIHOLE_UID: ${PIHOLE_UID}
      PIHOLE_GID: ${PIHOLE_GID}
      TZ: ${CONTAINER_TIMEZONE}
      FTLCONF_dns_upstreams: ${PIHOLE_FTLCONF_DNS_UPSTREAMS}
      FTLCONF_misc_dnsmasq_lines: ${PIHOLE_FTLCONF_MISC_DNSMASQ_LINES}
      FTLCONF_dns_rateLimit_count: ${PIHOLE_FTLCONF_DNS_RATELIMIT_COUNT}
      FTLCONF_dns_rateLimit_interval: ${PIHOLE_FTLCONF_DNS_RATELIMIT_INTERVAL}
      FTLCONF_dns_dnssec: ${PIHOLE_FTLCONF_DNS_DNSSEC}
      FTLCONF_dns_ignoreLocalhost: ${PIHOLE_FTLCONF_DNS_IGNORELOCALHOST}
    hostname: ${CONTAINER_HOSTNAME}
    image: ${CONTAINER_IMAGE}
    ports:
      - 53:53/tcp
      - 53:53/udp
      - {{ pihole__http_listening_port }}:80/tcp
    restart: ${CONTAINER_RESTART_POLICY}
    volumes:
      - ./etc-pihole:/etc/pihole
