CONTAINER_NAME={{ pihole__container_name }}
CONTAINER_IMAGE={{ __pihole__container_image }}
CONTAINER_HOSTNAME={{ pihole__container_hostname }}
CONTAINER_TIMEZONE={{ pihole__container_timezone }}
CONTAINER_RESTART_POLICY={{ pihole__container_restart_policy }}

PIHOLE_UID={{ pihole__uid }}
PIHOLE_GID={{ pihole__gid }}
PIHOLE_FTLCONF_DNS_DNSSEC={{ pihole__dnssec }}
PIHOLE_FTLCONF_DNS_IGNORELOCALHOST={{ pihole__ignorelocalhost }}
PIHOLE_FTLCONF_DNS_RATELIMIT_COUNT={{ __pihole__ratelimit_count }}
PIHOLE_FTLCONF_DNS_RATELIMIT_INTERVAL={{ __pihole__ratelimit_interval }}

PIHOLE_FTLCONF_DNS_UPSTREAMS={% for dns_server in pihole__upstream_dns_servers %}{{ dns_server }};{% endfor %}

PIHOLE_FTLCONF_MISC_DNSMASQ_LINES=interface=eth0;{% for dnsmasq_config_option in pihole__dnsmasq_custom_settings %}{{ dnsmasq_config_option }};{% endfor %}
