CONTAINER_NAME={{ container_name }}
CONTAINER_IMAGE={{ __pihole__container_image }}
CONTAINER_HOSTNAME={{ container_hostname }}
CONTAINER_TIMEZONE={{ container_timezone }}
CONTAINER_RESTART_POLICY={{ container_restart_policy }}

PIHOLE_UID:{{ pihole__uid }}
PIHOLE_GID:{{ pihole__gid }}
PIHOLE_SKIP_GRAVITY_ON_BOOT={{ 1 if ( __pihole__skip_gravity_on_boot == true ) else 0 }}
PIHOLE_DNS={% for dns_server in pihole_upstream_dns_servers %}{{ dns_server }};{% endfor %}
