
# Attention!

This is a placeholder file created by the {{ role_name }} Ansible role.

This file indicates that the below task was already executed on this host:

- {{ task_details }}


# Warning!

Removing this file will trigger the {{ role_name }} role to run the above task again during its next execution!

Unless this is actually what you want to achieve, it is highly recommended to just leave this file here as it is.

